<div class="container">
  <ul>
    <% @board.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <h2>Edit Board</h2>
  <%= form_with(model: @board, local: true) do |f| %>
    <div class="new-task">
      <%= f.label :title, "Title" %>
    </div>
    <div>
      <%= f.text_field :title, class: "task-title" %>
    </div>
    <div class="new-task">
      <%= f.label :content, "Description" %>
    </div>
    <div>
      <%= f.text_area :content, class: "task-description" %>
    </div>
    <%= f.submit "Submit", class: "btn-primary" %>
  <% end %>
</div>