.container
  %h2 All Boards
  - @boards.each do |board|
    .task-board
      .task
        %h3 Task
        %p= board.title
      .content
        %h3 Content
        %p= board.content
      .board-items
        .board-info
          = image_tag "default-avatar.png", class: "header-avatar"
          %p= board.user.email.split("@").first
        - if user_signed_in? && current_user.has_written?(board)
          .board-edit.dropdown
            = image_tag "edit-icon.png", class: "edit-icon"
            .dropdown-content
              %p= link_to "編集", edit_board_path(board)
              %p= link_to "削除", board_path(board), data: { method: "delete", confirm: "本当に削除してもよろしいですか？" }
  .add-task-board
    = link_to "+ Add new board", new_board_path, class: "add-task-button"
