<div class="container">
  <h2>All Boards</h2>
  <% @boards.each do |board| %>
    <div class="task-board">
      <div class="task">
        <h3>Task</h3>
        <p><%= board.title %></p>
      </div>
      <div class="content">
        <h3>Content</h3>
        <p><%= board.content %></p>
      </div>
      <div class="board-items">
        <div class="board-info">
          <%= image_tag "default-avatar.png", class: "header-avatar" %>
          <p><%= board.user.email.split("@").first %></p>
        </div>
        <% if user_signed_in? && current_user.has_written?(board) %>
          <div class="board-edit dropdown">
            <%= image_tag "edit-icon.png", class: "edit-icon" %>
            <div class="dropdown-content">
              <p><%= link_to "編集", edit_board_path(board) %></p>
              <p><%= link_to "削除", "#" %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="add-task-board">
    <%= link_to "+ Add new board", new_board_path, class: "add-task-button" %>
  </div>
</div>