%h2.headline All Boards
.container
  - @boards.each do |board|
    = link_to board_path(id: board.id) do
      .board
        .board-title
          %h3= board.title
        .board-content
          %p= board.content
        .board-items
          .board-info
            = image_tag "default-avatar.png", class: "header-avatar"
            %p 作成者:
            %p= board.user.email.split("@").first
  .add-new-board
    = link_to "+ Add new board", new_board_path, class: "add-new-board-btn"
